<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='<%= locals.quote %>'>
    <link rel="icon" type="image/x-icon" href="/heart.jpg">
    <title>Send to your luv !</title>
    <!-- google -->
    <meta itemprop="name" content="Love sender">
    <meta itemprop="image" content="./handin.jpg">
    <!-- fb -->
    <meta property="og:type" content="Website">
    <meta property="og:title" content="Love sender">
    <meta property="og:image" content="./handin.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-10 cenCol">
                <% if (locals.quote) { %>
                    <i><%= locals.quote %></i>
                <% } %>
                <h2 class="font-weight-light text-center">Send to your love </h2>
                <form action="/newText" method="post" >
                    <div class="form-group">                        
                        <div class="form-group">
                            <label for="text_1">Text 1</label>
                            <input required type="text" name="firstText" id="text_1" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="text_2">Text 2</label>
                            <input required type="text" name="secondText" id="text_2" class="form-control"/>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary text-right">Submit</button>
                        <a href="/image" class="btn btn-dark text-left">To image post</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>