html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./handin.jpg');
    background-size: cover;
}

.cenCol {
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
}
.copy-btn {
    margin-top: 20px;
    margin-right: 20px;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputImg {
    width: 100%;
}
.m-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}