body {
    margin: 0;
    padding: 0;
    background-image: url('./handin.jpg');
    background-size: cover;
}

.cenCol {
    margin: 50px auto;
    padding: 20px;
    background: white;
}
.copy-btn {
    margin-top: 20px;
}